<div style="width: 100%; height: 300px; overflow-y: hidden;" class='bg-dark d-flex flex-column justify-content-center align-items-center text-white mt-3'>
    <div  class="footer-div d-flex justify-content-evenly w-100 flex-wrap">
      <div class="website" style="width:'400px';">
        <h4 style="overflow-y: hidden;">Daily Cart</h4>
        <h6 style="overflow-y: hidden;">Designed and built with all the love in the world by the Luminar team with the help of our contributors.</h6>
        <h6 style="overflow-y: hidden;">Code Licensed Luminar , docs CCBY 3.0</h6>
        <p class='text-secondary'>Currently v1.0.0.</p>
      </div>
      <div class="links d-flex flex-column">
        <h4 style="overflow-y: hidden;">Links</h4>
        <a routerLink="" style="color: white; text-decoration: none;">Home</a>
        <a routerLink="user/wishlist" style="color: white; text-decoration: none;">Wishlist</a>
        <a routerLink="user/cart" style="color: white; text-decoration: none;">Cart</a>
      </div>
      <div class="guides d-flex flex-column">
      <h4 style="overflow-y: hidden;">Guides</h4>
        <a routerLink="https://angular.io/" style="color: white; text-decoration: none;">Angular</a>
        <a routerLink="https://getbootstrap.com/"  style="color: white; text-decoration: none;">Bootstrap</a>
        <a routerLink="https://angular.io/api/router/RouterLink"  style="color: white; text-decoration: none;">Routing</a>
      </div>
      <div class="contact">
        <h4 style="overflow-y: hidden;">Contact Us</h4>
        <div class="sub d-flex">
          <input type="text" class='form-control' placeholder='Enter your Email Id' />
          <button class='btn btn-warning ms-2'><i class="fa-solid fa-arrow-right d-flex align-items-center p-1 justify-content-center"></i></button>
        </div>
        <div class="icons fs-4 d-flex justify-content-evenly mt-3">
        <a routerLink="https://mail.google.com/" style="color: white; text-decoration: none;"><i class="fa-solid fa-envelope"></i></a>
        <a routerLink="https://www.twitter.com/" style="color: white; text-decoration: none;"><i class="fa-brands fa-twitter"></i></a>
        <a routerLink="https://www.linkedin.com/" style="color: white; text-decoration: none;"><i class="fa-brands fa-linkedin"></i></a>
        <a routerLink="https://www.instagram.com/" style="color: white; text-decoration: none;"><i class="fa-brands fa-instagram"></i></a>
        <a routerLink="https://www.github.com/" style="color: white; text-decoration: none;"><i class="fa-brands fa-github"></i></a>
        <a routerLink="https://www.facebook.com/" style="color: white; text-decoration: none;"><i class="fa-brands fa-facebook"></i></a>

        </div>
      </div>
    </div>
    <p class='text-secondary'>Copyright © 2023 E-cart. Built with React.</p>
  </div>
