<app-header></app-header>
<div style="margin-top: 80px;"
    class="d-flex justify-content-center align-items-center flex-column w-100">
    <div class="Delivery  w-50">
        <h1>Delivery Details</h1>
        <form *ngIf="!proceedToBuyStatus" [formGroup]="checkoutForm" class="border p-3" (ngSubmit)="proceedToBuy()">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput1" name="uname"
                    placeholder="Username" formControlName="uname">
                <label for="floatingInput">Username</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput2" name="flat"
                    placeholder="Appartment No" formControlName="flat">
                <label for="floatingInput">Appartment No.</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput3" name="place"
                    placeholder="Place" formControlName="place">
                <label for="floatingInput">Place</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput4" name="pincode"
                    placeholder="Pincode" formControlName="pincode">
                <label for="floatingInput">Pincode</label>
            </div>

            <div class="mb-3 text-end">
                <input type="button" (click)="cancel()" class="btn btn-warning me-3" value="Cancel">
                <input type="submit" class="btn btn-success" value="Proceed to Buy">
            </div>

        </form>

        <div  *ngIf="proceedToBuyStatus" class="border rounded p-3">
            <h4>....Address....</h4>
            <h5>{{checkoutForm.value.uname}}</h5>
            <span>{{checkoutForm.value.flat}},</span>
            <span>{{checkoutForm.value.place}}</span>
            <h5>{{checkoutForm.value.pincode}}</h5>
            <hr>
            <h4>Total Amount : <span class="text-danger fw-bolder">${{totalAmount}}</span></h4>
            <div *ngIf="!proceedToPaymentStatus" class="mb-3 text-end">
                <input type="button" (click)="back()" class="btn btn-warning me-3" value="Back">
                <input type="submit" (click)="proceedToPayment()" class="btn btn-success" value="Proceed to Payment">
            </div>
            <div *ngIf="proceedToPaymentStatus" class="mt-3 paypal p-3">
                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>
        </div>
    </div>
</div>
