<div style="margin-top: 80px">
    <div style="height: 90vh;" class="d-flex align-items-center justify-content-center">
      <div style="width: 500px; height: 500px;" class="d-flex align-items-center justify-content-center rounded bg-light border border-2 shadow">
        <form [formGroup]="loginForm" class="p-5 d-flex flex-column w-100" (ngSubmit)="login()">
          <h3 class="fw-bolder mb-5">Login Form</h3>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput"
              name="email" placeholder="name@example.com" formControlName="email">
            <label for="floatingInput">Email Address</label>
          </div>

          <!-- validation Email -->
         <div *ngIf="this.loginForm.get('email')?.errors && this.loginForm.touched" class="mb-3 fw-bolder text-danger">
            *Invalid Email
           </div>
  
           <div class="form-floating mb-3">
            <input type="password" class="form-control mb-2" id="floatingPassword"
              placeholder="Password" name="password" required
              pattern="[a-zA-Z0-9]*" minlength="4" formControlName="password">
            <label for="floatingPassword">Password</label>
          </div>

           <!-- validation Password -->
         <div *ngIf="this.loginForm.get('password')?.errors && this.loginForm.touched" class="mb-3 fw-bolder text-danger">
            *Invalid Password
           </div>
  
          <button type="submit" class="btn btn-primary w-100 mt-3 mb-5">Login</button>
          <p style="letter-spacing: 1px;" class="text-center fw-bold text-secondary">New User? Click here to <a routerLink="/user/register" class="text-primary">Register</a></p>
      </form>
      </div>
  </div> 
  </div>