<app-header></app-header>
<div style="margin-top: 80px;">

    <div *ngIf="cartItems.length===0" style="height: 90vh;"
        class="empty-Cart mt-5 mb-5 d-flex justify-content-center align-items-center w-100 flex-column">
        <img style="height: 250PX;"
            src="https://cdn-icons-gif.flaticon.com/8797/8797960.gif" alt>
        <h1>Your Cart Empty</h1>
        <button class="btn btn-success" routerLink>Add More Items</button>
    </div>

    <div *ngIf="cartItems.length>0" class="cart">
       <div class="container px-4 px-lg-5 mt-5">
        <h1 class="text-info fw-bolder text-center mb-5">Your Cart</h1>
            <div class="row ">
                <div class="col-lg-8">
                    <table class=" table shadow">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Product Name</th>
                                <th>image</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th><i class="fa-solid fa-ellipsis vertical"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of cartItems;let i=index">
                                <td>{{i+1}}</td>
                                <td>{{product.title.slice(0,20)}}...</td>
                                <td><img width="100px" height="100px" [src]="product.image" alt></td>
                                <td>
                                    <div class="d-flex">
                                        <button (click)="decrementCart(product._id)"  class="btn fw-bolder">-</button>
                                        <input readonly
                                            class="form-control text-center me-3"
                                            id="inputQuantity" type="num"
                                            [value]="product.quantity" style="max-width: 3rem" />
                                        <button (click)="incrementCart(product._id)" class="btn fw-bolder">+</button>
                                    </div>
                                </td>
                                <td>${{product.grantTotal}}</td>
                                <td><button (click)="removeItem(product._id)" class="btn"><i
                                            class="fa-solid fa-trash text-danger"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="actions  w-100">
                        <button (click)="emptyCart()"  class="float-end btn btn-danger">Empty Cart</button>
                        <button routerLink="" class="float-end btn btn-success me-2">Add More Items</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="border rounded p-3 shadow">
                        <h3>Sub Total: <span class="text-danger">${{cartTotalPrice}}</span></h3>
                        <hr>
                        <div class="d-grid">
                            <button (click)="checkout()" class="btn btn-primary">Check Out</button>
                        </div>
                    </div>
                </div>
            </div>
       </div>

    </div>

</div>
