<div style="margin-top: 80px">
  <div style="height: 90vh;"
    class="d-flex align-items-center justify-content-center">
    <div style="width: 500px; height: 540px;"
      class="d-flex align-items-center justify-content-center rounded bg-light border border-2 shadow">
      <form [formGroup]="registerForm" class="p-5 d-flex flex-column w-100"
        (ngSubmit)="register()">
        <h3 class="fw-bolder mb-5">Register Form</h3>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput"
            name="username" placeholder="Username" formControlName="username">
          <label for="floatingInput">Username</label> 
        </div>
         <!-- validation Username -->
         <div *ngIf="this.registerForm.get('username')?.errors && this.registerForm.touched" class="mb-3 fw-bolder text-danger">
          *Invalid Username
         </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput"
            name="email" placeholder="name@example.com" formControlName="email">
          <label for="floatingInput">Email Address</label>
        </div>
         <!-- validation Email -->
         <div *ngIf="this.registerForm.get('email')?.errors && this.registerForm.touched" class="mb-3 fw-bolder text-danger">
          *Invalid Email
         </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control mb-2" id="floatingPassword"
            placeholder="Password" name="password" required
            pattern="[a-zA-Z0-9]*" minlength="4" formControlName="password">
          <label for="floatingPassword">Password</label>
        </div>
         <!-- validation Password -->
         <div *ngIf="this.registerForm.get('password')?.errors && this.registerForm.touched" class="mb-3 fw-bolder text-danger">
          *Invalid Password
         </div>
        <button type="submit"
          class="btn btn-primary w-100 mb-5">Register</button>
        <p style="letter-spacing: 1px;"
          class="text-center fw-bold text-secondary">Already have Account? Click
          here to <a routerLink="/user/login" class="text-primary">Login</a></p>
      </form>
    </div>
  </div>
</div>
